<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/jpg" href="{% static 'puntos/img/icono.PNG' %}">
    <link rel="stylesheet" href="{% static 'puntos/css/index.css' %}">
    <title>PuntoVacuna-Home</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-xl colornav navbar-dark fixed-top bordernav letras">
            <a class="navbar-brand" href="{% url 'home' %}"><img style="width: 60px;"
                    src="{% static 'puntos/img/icono.PNG' %}" alt=""></a>
            <form class="form-inline " action="" method="POST">
                {% csrf_token %}
                <input class="form-control ml-sm-5 inputstyle letras" type="text"
                    placeholder="Buscar vacunas disponibles" style="width: 241px;" required name="dato" id="dato">
                <button class="btn btn-primary b1 letras" type="submit">Buscar</button>
            </form>
            <button style="background-color:#A0DBF5 ;" class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a style="color: white;" class="nav-link ml-sm-2" href="">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: white;" class="nav-link ml-sm-2" href="{% url 'contacto' %}">Contactanos</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: white;" class="nav-link" href="{% url 'centros' %}">Centros por comuna</a>
                    </li>
                </ul>

                <ul class="navbar-nav espaciadonavbar">




                    {% if user.is_authenticated %}
                    {% if user.is_staff %}
                    <li class="nav-item">
                        <a style="color: white;" class="nav-link" href="{% url 'lista_usuarios' %}">Administrar
                            Usuarios</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: white;" class="nav-link" href="{% url 'lista_vacunas' %}">Administrar Vacunas</a>
                    </li>
                    <li class="nav-item">

                        <a style="color: white;" class="nav-link ml-sm-2" href="{% url 'lista_centros' %}">Administrar Centros</a>

                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a style="color: white;" class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: white;" class="nav-link" href="">{{user.username}}</a>
                    </li>

                    {% else %}
                    <li class="nav-item">
                        <a style="color: white;" class="nav-link ml-sm-2" href="{% url 'registrar' %}">Registrarse</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: white;" class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <div class="container" style="margin-top: 80px;">
            {% if messages %}
            <div class="alert alert-info" style="background-color: #5EF2FE;">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {% for x in messages %}
                <strong>{{ x }}</strong>
                {% endfor%}
            </div>
            {% endif %}
        </div>
    </header>
    <div class="container a2">
        <img class="portada" style="margin-left: 125PX;"  src="{% static 'puntos/img/icono.PNG' %}" alt="">
    </div>
    <div class="Carousel">



        <h2 class="titulos" style="color:red">Anuncios Importantes</h2>
        <br>
        <br>
        <div class="container"><h2>Vacunación contra la Influenza 2022: 81,7% de la población objetivo inmunizada</h2></div><br>
        <div class="container"><h6>El Ministerio de Salud informa que con fecha de corte martes 14 de junio, según los datos del Departamento de Estadística e Información de Salud, se han administrado 6.803.612 dosis de la vacuna contra la Influenza en el país.

            Respecto de la población objetivo de 8.090.622 personas a la fecha se ha inmunizado el 81,2% (6.803.612)</h6></div><br>
            <div class="container"  ><img src="{% static 'puntos/img/info.PNG' %}" style="width: 40%; margin-left: 30%;"  alt=""></div><br>
        <div class="container"><h6>Durante la jornada de ayer fueron vacunadas 15.340 personas.

            Las regiones de Maule, Magallanes y Ñuble registran los mayores avances en el proceso de inoculación. </h6><br><h6>
            
            La campaña nacional de vacunación masiva contra la Influenza 2022 se inició el pasado 16 de marzo, y al igual que en el proceso de inoculación contra el COVID-19, se está implementando en los vacunatorios habilitados en el país.
            </h6><br><h6>
            Los grupos priorizados para la vacunación gratuita son las personas mayores de 65 años; enfermos crónicos, entre 11 y 64 años; embarazadas en cualquier etapa de gestación; niñas y niños, de los 6 meses hasta quinto básico; también los trabajadores de la educación preescolar y hasta quinto básico; estrategia capullo para prematuros con patologías definidas y, por último, las y los trabajadores de avícolas y criaderos de cerdos.</h6></div>
            
        


        <h2 class="titulos">Centros Disponibles</h2>

        <h2 class="titulos">Vacunas Disponibles</h2>

        <button class="slick-arrow slick-next" id="button-next" data-button="button-next"
            onclick="app.processingButton(event)">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right"
                class="svg-inline--fa fa-chevron-right fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 320 512">
                <path fill="currentColor"
                    d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                </path>
            </svg>
        </button>
    </div>


    </div>
    <script src="{% static 'ventas/js/script.js' %}"></script>
    <footer class="site-info">


        <div class="inside-site-info">
            <span>PuntoVacuna-Todos los derechos Reservados [2022]</span>
        </div>
    </footer>
</body>

</html>