<!DOCTYPE html>
<html lang="en">
{% load static %}



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'puntos/css/cuentacss.css' %}">
    <link rel="stylesheet" href="{% static 'puntos/css/Repitcss.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script type="text/javascript"
        src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/localization/messages_es.js"></script>
    <link rel="icon" type="image/jpg" href="{% static 'puntos/img/icono.PNG' %}">
    <title>Patagón-Inicio sesion</title>
    <script>
        $(document).ready(function () {
            $("#formulario_inicio").validate({
                rules: {
                    correo: {
                        required: true,
                        minlength: 1,
                        email: true
                    },
                    Contraseña: {
                        required: true,
                        minlength: 1
                    }
                }
            });
        });
    </script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-xl colornav navbar-dark fixed-top bordernav letras">
            <a class="navbar-brand" href="{% url 'home' %}"><img style="width: 60px;"
                    src="{% static 'puntos/img/icono.PNG' %}" alt=""></a>
            <form class="form-inline" action="" method="POST">
                {% csrf_token %}
                <input class="form-control ml-sm-5 inputstyle letras" type="text" placeholder="Buscar en todos los productos"
                    style="width: 241px;" required name="dato" id="dato">
                <button class="btn btn-primary b1 letras" type="submit">Buscar</button>
            </form>
            <button style="background-color:#A0DBF5 ;" class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a style="color: white;" class="nav-link ml-sm-2" href="">Categorias</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: white;" class="nav-link ml-sm-2" href="">Contactanos</a>
                    </li>
                </ul>

                <ul class="navbar-nav espaciadonavbar">
                    {% if user.is_staff == 1 %}
                    {% if user.is_superuser == 1 %}
                    <li class="nav-item">
                        <a style="color: white;" class="nav-link" href="">Lista de
                            Usuarios</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: white;" class="nav-link" href="">Agregar
                            Producto</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a style="color: white;" class="nav-link" href="">Lista de
                            Productos</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: white;" class="nav-link" href="">Lista de
                            Comentarios</a>
                    </li>
                    {% endif %}
                    {% if user.is_authenticated %}

                    <li class="nav-item">
                        {% for u in usuario %}
                        {% if u.user.id == user.id %}
                        {% for c in carrito %}
                        {% if u.num_run == c.usuario.num_run %}
                        <a style="color: white;" class="nav-link ml-sm-2" href="">Ir al
                            Carro</a>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                    </li>
                    <li class="nav-item">
                        <a style="color: white;" class="nav-link" href="">Cerrar Sesión</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: white;" class="nav-link" href="">{{user.username}}</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a style="color: white;" class="nav-link ml-sm-2" href="">Registrarse</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: white;" class="nav-link" href="">Iniciar Sesión</a>
                    </li>
                    {% endif %}

                </ul>
            </div>
        </nav>
    </header>
    <article>
        <section>
            <div class="ll">
                <div class="container color">
                    <div class="row">
                        <div class="card-body col-md pp">

                            <form action="" method="POST" name="formulario_inicio"
                                id="formulario_inicio" class="bord">
                                {% csrf_token %}
                                <div id="in" class="text-center">Inicio sesion</div>
                                <div class="form-group a">
                                    <label for="correo">Username</label>
                                    <input type="text" class="form-control" id="username" name="username"
                                        placeholder="Ingrese Username">
                                </div>
                                <div class="form-group">
                                    <label for="Contraseña">Contraseña</label>
                                    <input type="password" class="form-control" id="password" name="password"
                                        placeholder="Contraseña">
                                    <small id="emailHelp" class="form-text text-muted">Recuerda no compartir tu
                                        contraseña</small>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Recordar cuenta</label>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary bbbt">INICIAR</button>
                                </div>
                               
                                {% if messages %}
                                <div style="text-align: center; padding-left: 30px ; padding-right: 30px;">
                                    {% for x in messages %}
                                    <a style="color: red">{{ x }}</a>
                                    {% endfor %}
                                </div>
                                {% endif %}
                                <br>
                                <div class="text-center">
                                    <span> No tienes cuenta? Registrate <a href="">aqui</a></span>
                                </div>
                                <div class="text-center">
                                    <span> Olvidaste tu contraseña ? Haz Click <a
                                            href="">aqui</a></span>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>

        </section>
        <script src="{% static 'ventas/js/script.js' %}"></script>
    </article>
    <footer class="site-info">
        <div class="mapa">
            <div id="map"></div>
        </div>
        <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=iniciarMap"></script>
        <div class="inside-site-info">
            <span>Patagon - Todos los derechos Reservados [2021]</span>
        </div>
    </footer>
</body>

</html>