*{
    margin: 0%;
    padding: 0%;
}
body{
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background: absolute;
    position: absolute;
    height: 100vh;
    width: 100%;
    align-items: center;
    
    background-image: url("/static/puntos/img/fondito.jfif"); 
    background-size: 100%;
}

.portada{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 70% ;
    height: 70% ;
    
    
}

.a2{
    margin-right: 10%;
}

h4, h2,small,a{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.Carousel{
    width: 100%;
    margin: 0px 0px;
}
.Carousel h2{
    font-size: 26px;
    line-height: 38px;
    padding-bottom: 10px;
    opacity: .9;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
}

/* images */

.slick-list{
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 304px;
    padding: 10px 0px;
    margin: 0px auto;
    max-width: 90vw;
    overflow: hidden;
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}
.slick{
    position: relative;
    width: 275px;
    padding: 0 18px;
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;
}
.slick h4{
    position: absolute;
    z-index: 1;
    font-size: 22px;
    line-height: 23px;
    color: #fff;
    padding: 15px;
}
.slick h4 small{
    font-size: 15px;
    display: block;
}
.slick a img{
    object-fit: cover;
    height: 250px;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
    transition: .3s ease-in-out;
}
.slick a img:hover{
    opacity: .85;
}

/* buttons */

.slick-arrow{
    border-radius: 30px;
    background-color: #fff;
    position: absolute;
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
    border: 0;
    cursor: pointer;
}
.slick-arrow:focus{
    outline: 0;
}
.slick-arrow svg{
    width: 12px;
    height: 100%;
    color: rgba(0,0,0,.7);
}
.slick-prev{
    left: 0px;
}
.slick-next{
    right: 0px;
}

.titulos{
    margin-bottom: 10px;
    margin-top: 40px;
    border-bottom: solid #5EF2FE 1px ;
    box-shadow: 2px 2px 2px 0px #BEE6FE  ;
    background-color: #EBF4FA ;
    margin-left: 200px;
    margin-right: 200px;
}


@media screen and (max-width: 550px){
    .slide{
        margin-top: 50px;
        width: 550px;
    }
    footer{
        width: 550px;
    }
    
  
}
@media screen and (max-width: 750px){
    
    .titulos{
        margin-left: -200px;
        margin-right: -200px;
    }
  
}
.bordernav{
    box-shadow: 0 0 10px 0.5px grey;
}

.inputstyle{
    margin-left: 0% !important;
}
.b1{
    background: #5EF2FE;
    color: black;
    border: solid #5EF2FE;
    margin-left: 10px;
}
.margin{
    margin: 200px;
}
.slide{
    margin-top: 100px;
    margin-bottom: 60px;
}
.slide img{
    height: 400px;
}
.fondo{
    background: white;
}

.colornav{
    background: rgb(27, 38, 49 ) ;  
}
.site-info{
    color: #ffffff;
    background-color: #222222;
    text-align: center;
    padding: 20px;
    font-size: 15px;
    margin-top: 60px;
}

.espaciadonavbar{
    margin-left: auto;
}

.alerta{
    position: relative;
    padding: .75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
@media screen and (max-width: 1490px) {
    .letras{
        font-size: 13px;
    }
}
@media screen and (max-width: 1320px) {
    .letras{
        font-size: 11px;
    }
}
@media screen and (max-width: 376px){
    .cuad{
        padding-right: 550px;   
    }
}
@media screen and (min-width: 377px) and (max-width: 550px){
    .cuad{
        padding-right: 730px;   
    }
    .uu{
        width: 740px;
    }
    footer{
        width: 740px;
    }
}
@media screen and (width: 360px){
    .cuad{
        padding-right: 730px;   
    }
    .uu{
        width: 740px;
    }
    footer{
        width: 740px;
    }
}
@media screen and (width: 375px){
    .cuad{
        padding-right: 730px;   
    }
    .uu{
        width: 740px;
    }
    footer{
        width: 740px;
    }
}